Javascript/Belt Exam/index.html
Javascript/Belt Exam/script.js
Javascript/Belt Exam/style.css
Javascript/Belt Exam/img/succulents-functionality.mp4
Javascript/Belt Exam/img/succulentshop.png
Javascript/Belt Exam/img/assets/aeonium-s.jpg
Javascript/Belt Exam/img/assets/alert-dark.png
Javascript/Belt Exam/img/assets/aloe-m.jpg
Javascript/Belt Exam/img/assets/aloe-s.jpg
Javascript/Belt Exam/img/assets/arrow-light.png
Javascript/Belt Exam/img/assets/cactus-s.jpg
Javascript/Belt Exam/img/assets/cart-dark.png
Javascript/Belt Exam/img/assets/echeveria-s.jpg
Javascript/Belt Exam/img/assets/leaf.png
Javascript/Belt Exam/img/assets/search-dark.png
Javascript/Belt Exam/img/assets/sedum-s.jpg
Javascript/Belt Exam/img/assets/sempervivum-s.jpg
Javascript/Belt Exam/img/assets/succulents-1.jpg
Javascript/Belt Exam/img/assets/succulents-2.jpg
