.container {
  position: relative;
  height: 200px;
  width: 600px;
  border: 3px solid rgb(187, 187, 187);
  margin: 50px 250px;
  font-family: "Courier New", Courier, monospace;

  background-image: linear-gradient(180deg, teal 25%, white 25%);
  padding-top: 145px;
}

.user-circle img {
  height: 125px;
  width: 125px;
  position: absolute;
  top: 40px;
  left: 25px;
}

.user-name h1 {
  margin-bottom: 0;
  padding-left: 25px;
}

.location {
  padding-left: 25px;
}

.location img {
  width: 12px;
  height: 12px;
  display: inline-block;
}

.location h2 {
  display: inline-block;
  font-size: 20px;
  margin: 0;
}

.skills {
  padding-left: 25px;
}
.skills p {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}
.edit {
  display: inline-block;
  padding-left: 25px;
  padding-top: 15px;
  font-size: 20px;
}
.edit img {
  height: 20px;
  width: 20px;
}
